@use 'sass:list';

$black: #443356;
$blue: #4da7d7;
$blueDark: #3b59a4;
$orangeVibrant: #f5511e;
$orange: #f7774f;
$orangeDark: #c9454c;
$orangeDarkest: #aa3138;
$white: white;
$yellow: #fef2b1;
$yellowDark: #fedb8b;
$yellowDarkest: #e7ad79;
$pureBlack: #000000;

$colors: (
	"black": $black,
	"blue": $blue,
	"blue-dark": $blueDark,
	"orange-vibrant": $orangeVibrant,
	"orange": $orange,
	"orange-dark": $orangeDark,
	"orange-darkest": $orangeDarkest,
	"white": $white,
	"yellow": $yellow,
	"yellow-dark": $yellowDark,
	"yellow-darkest": $yellowDarkest,

	"pure-black": $pureBlack,

	"background-color": #f2d192,
	"foreground-color": $black,
	"link-color": $blueDark,
	"link-active-color": $blue,
	"text-color": $yellow,
);
$names: ();
$values: ();

@each $name, $value in $colors {
	$names: list.append($names, $name);
	$values: list.append($values, $value);
}

:export {
	names: $names;
	values: $values;
}
