.button {
	align-items: center;
	background-color: var(--palette-orange-vibrant);
	background-image: none;
	border: none;
	border-radius: 0.5rem;
	color: var(--palette-yellow);
	cursor: pointer;
	display: inline-flex;
	font-family: inherit;
	font-size: inherit;
	padding: 1rem 2rem;
	text-align: left;
	transition-duration: 0.1s;
	transition-property: background-color;

	&:focus,
	&:hover {
		background-color: var(--palette-orange-darkest);
		color: var(--palette-yellow-dark);
	}

	&.hide-overflow {
		span {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	&.is-full-width {
		justify-content: center;
		width: 100%;
	}
}
