/******************************************************************************\
  Mixins
\******************************************************************************/

@import './mixins/generateColourCustomProperties';
@import './mixins/generateColourCustomPropertiesFromColour';





/******************************************************************************\
  Variables
\******************************************************************************/

@import './variables/colors';
@import './variables/sizes';
@import './variables/ui-scale';





/******************************************************************************\
  Root styles
\******************************************************************************/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	@media (prefers-reduced-motion: reduce) {
		&,
		&:after,
		&:before {
			animation-duration: 0.0001s !important;
			animation-delay: 0.0001s !important;
			transition-duration: 0.0001s !important;
			transition-delay: 0.0001s !important;
		}
	}
}

body,
html {
	min-height: 100vh;
}

html {
	color-scheme: light;
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	color: var(--palette-foreground-color);
	font-family: 'hoss-round', sans-serif;
	font-size: 2rem;
	font-style: normal;
	font-weight: 400;
}
