.container {
	line-height: 1.5;
	margin-left: auto;
	margin-right: auto;
	max-width: var(--max-content-width);

	blockquote {
		border-left-color: var(--palette-orange-vibrant);
		border-left-style: solid;
		border-left-width: 0.2rem;
		padding-left: 2rem;
	}

	hr,
	p {
		margin-bottom: 2rem;
	}

	hr {
		background-image: linear-gradient(
			135deg,
			var(--palette-orange-vibrant),
			var(--palette-orange-dark)
		);
		border: none;
		height: 0.5rem;
	}
}
