.container {
	--layout-padding: 12px;

	container-name: layout;
	container-type: size;
	display: grid;
	grid-template-areas: 'banner content';
	grid-template-columns: auto 1fr;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	min-height: 100vh;
	overflow: hidden;

	.content {
		// background-image: url('/image/kingfisher-on-tree-trunk.bg.png');
		background-size: cover;
		container-name: main-content;
		container-type: size;
		grid-area: content;
		overflow: auto;
	}
}
