.container {
	.content {
		max-width: calc(var(--max-width) * 3);
	}

	.header {
		display: flex;
		height: 70vh;
	}

	.header-content {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		max-width: var(--max-content);
	}

	.heading,
	.metadata {
		background-color: hsla(var(--palette-pure-black-hsl), 0.8);
		color: var(--palette-white);
		padding: 2rem;
	}

	.heading {
		line-height: 1;
	}

	.metadata {
		align-items: center;
		column-gap: 1rem;
		display: flex;

		.details {
			.published-at {
				font-size: 0.7em;
			}
		}
	}
}
