.articles {
	display: grid;
	gap: 5rem;
	grid-template-columns: 1fr;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(var(--max-width) * 2);

	@container main-content (min-width: 1300px) {
		grid-template-columns: repeat(2, 1fr);

		> :first-child {
			grid-column: span 2;
		}
	}
}

.page-content {
	padding-top: 0;
}

.page-heading {
	margin-left: auto;
	margin-right: auto;
	max-width: calc(var(--max-width) * 2);
}
