.content {
	background-color: var(--background-color);
	color: var(--text-color);
	padding: 2rem;
	position: relative;
	z-index: 2;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.game-card .logo {
	min-height: 10rem;
	z-index: 2;

	> img {
		max-width: 100%;
		object-fit: contain;
		object-position: center left;
	}
}

.heading {
	padding: 0;
}

.links {
	display: flex;
	font-size: 2.5rem;
	grid-area: links;
	position: relative;
	width: min-content;
	z-index: 2;

	> a {
		background-color: var(--background-color);
		color: var(--text-color);
		padding: 2rem;
		scale: 1;
		transition-duration: 0.1s;
		transition-property: scale;

		&:focus,
		&:hover {
			scale: 1.2;
		}
	}
}
